<!DOCTYPE html>
<html>
	<div th:fragment="cucmaxluser_search_form" class="col-lg-12">
		
		<a class="search-button" href="#" th:text="#{cucmaxluser.form.search.message}">Extended search</a>
		
		<div th:object="${endUser}" class="search-form" style="display: none;">
			<form action="#" th:action="@{/cucmaxl/user/search}" th:object="${endUser}" th:method="GET" method="GET" id="cucmaxluser-search-form" class="well-search form">
								
				<div	class="form-group">
					<label 	class="control-label"
							for="id" 
							th:text="#{cucmaxluser.field.userId}"> 
					</label>
			
					<select th:field="*{id}" 
							class="select2-chosen" 
							multiple="multiple"
							th:id="search_id">
							
							<option th:each="data : ${endUserAll}" 
	        						th:value="${data.id}" 
	          						th:text="${data.lastName}+' '+${data.firstName}+ ' ('+${data.userId}+')'">
	          						th:text="${data.name}+' ('+${data.login}+')'">
	          				</option>
					</select>
				</div>
				
				<div class="form-actions">
					<button id="doSearch" class="btn btn-primary" name="doSearch" type="submit" th:text="#{cucmaxluser.searchform.button.search}">Search</button>
				</div>
			</form>
		</div>
		<script th:inline="javascript">
			/*<![CDATA[*/
			    $(document).ready(function() {
					$('.search-button').click(function(){
						$('.search-form').toggle();
						return false;
					});
				
					jQuery(function($) {
			    		jQuery('#search_id').select2({
			    			allowClear:true,
			    			width:'100%', 
			    			minimumInputLength:'2', 
			    			language: [[${#locale.language}]], 
			    			placeholder: [[#{cucmaxluser.searchform.searchfield.placeholder.name}]],
			    			ajax: {
			    				delay: 500,
			    				url: function (params) {
			    					return '/cucmaxl/user/search';
			    				},
			    				data: function (params) {
			    					var queryParameters = {
			    					 	searchString: params.term
			    					}
			    					return queryParameters;
			    				},
			    				processResults: function (data) {
			    					return {
			    						results: data
			    					};
			    				},
			    				
			    				
			    			}
			    		
			    		});
			    	});
			    });	
			/*]]>*/
		</script>
	</div>
</html>