<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header :: headerFragment" />

<body>
	<div id="wrapper">
		<!-- Header -->
		<div th:replace="fragment/header :: navbar_alt" > </div>
		<br/>
		<div id="page-wrapper">
			<div class="row">
				<ol class="breadcrumb">
					<li class="active" th:text="#{breadcrumbs.collectors}">Collectors</li>
				</ol>
				<div class="col-lg-12">
					<a href="/monitor/collectors/create" th:text="#{breadcrumbs.collectors.create}">Create</a>
				</div>
				<div class="col-lg-12">
					<h1 class="page-header" th:text="#{collectors.ui.messages.index.title}">Collectors management</h1>
					
				</div>
			</div>
			
			 <div class="row">
			 	<table id="collectorstable" class="display" >
			        <thead>
			            <tr>
			                <th th:text="#{collectors.field.sequence}">№ п/п</th>
			                <th th:text="#{collectors.field.name}">Name</th>
			                <th th:text="#{collectors.field.description}">Description</th>
			                <th th:text="#{collectors.field.resourceSourceType}">Collector Source Resource Type</th>
			                <th th:text="#{collectors.field.type}">Collector type</th>
			                <th th:text="#{collectors.field.launchMode}">Launch Mode</th>
			                <th th:text="#{collectors.field.actions}">Actions</th>
			            </tr>
			        </thead>
			 
			        <tfoot>
			            <tr>
			                <th th:text="#{collectors.field.sequence}">№ п/п</th>
			                <th th:text="#{collectors.field.name}">Name</th>
			                <th th:text="#{collectors.field.description}">Description</th>
			                <th th:text="#{collectors.field.resourceSourceType}">Collector Source Resource Type</th>
			                <th th:text="#{collectors.field.type}">Collector type</th>
			                <th th:text="#{collectors.field.launchMode}">Launch Mode</th>
			                <th th:text="#{collectors.field.actions}">Actions</th>
			                
			            </tr>
			        </tfoot>
			    </table>
			</div>
		</div>
	</div>
	<div th:replace="fragment/header :: scripts" > </div>
	
	<script src="/static/assets/data-tables-1.10.6/js/jquery.spring-friendly.js" th:src="@{/static/assets/data-tables-1.10.6/js/jquery.spring-friendly.js}" > </script>
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	$(document).ready(function() {
		
		jQuery(function($) {
			$('[data-toggle="tooltip"]').tooltip();
		});
		
		function dateFormatter(value) {
			if(value==null){return "";}
	    	return moment(value).format("DD.MM.YYYY HH:mm:ss");
	    }
		
		var myTable = $('#collectorstable').DataTable({
	    	"stateSave": true,
	    	"processing": true,
	        "serverSide": true,
	        "ajax": {
	        	"method": "GET",
	        	"url": "/monitor/collectors/ajax/serverside/collectors.json",
	        	"data": function ( d ) {
	            	return $.extend( {}, d, {
	                    "extra_search[id]": $('#id').val()!=undefined ? $('#id').val() : "null",
	    
	                });
	            }
	        },
	    	"columns": [
	    	            { "data": "numberLocalized" },
	    	            { "data": "name" },
	    	            { "data": "description" },
	    	            { "data": "resourceSourceType" },
	    	            { "data": "type" },
	    	            { "data": "launchModeType" },
	    	            { "data": "id" }
	    	        ],
	    	
	    	
			"language": {
	        	"url": "/static/assets/data-tables-1.10.6/i18n/"+[[${#locale.language}]]+".lang"
	        },
	        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Все"]],
	        "order": [[ 1, 'asc' ]],
	        "columnDefs": [
				{
	    			"searchable": false,
	    			"orderable": false,
	    			"targets": [0]
				},
	            {
		         	"targets": [-1],
		         	"searchable": false,
	    			"orderable": false,
		            "data": "Actions",
		            "render": function (data, type, full, meta) {
		            	var isRunModuleField = /*[[${#authorization.expression("hasRole('ROLE_ADMIN')")}]]*/ false;
		         		var runModuleField = isRunModuleField ? '<a class="runmodule" href="/monitor/collectors/change_status" data-id="'+data+'" data-toggle="tooltip" title="'+[[#{modules.ui.messages.table.run}]]+'" data-original-title="'+[[#{collectors.ui.messages.table.run}]]+'"> \
		         								<i class="glyphicon glyphicon-play"></i> </a>' : "";
		         								
		         		var isStopModuleField = /*[[${#authorization.expression("hasRole('ROLE_ADMIN')")}]]*/ false;
		         		var stopModuleField = isStopModuleField ? '<a class="stopmodule" href="/monitor/collectors/change_status" data-id="'+data+'" data-toggle="tooltip" title="'+[[#{modules.ui.messages.table.stop}]]+'" data-original-title="'+[[#{collectors.ui.messages.table.stop}]]+'"> \
		         								<i class="glyphicon glyphicon-stop"></i> </a>' : "";						
		         		
		         		var operationModuleField = (full.currentRunStatus=='RUN' ? stopModuleField : runModuleField);
		         		
		         		var updateField = '<a class="update" href="/monitor/collectors/update/'+data+'" data-toggle="tooltip" title="'+[[#{ui.messages.table.edit}]]+'" data-original-title="'+[[#{ui.messages.table.edit}]]+'"> \
		     	 								<i class="glyphicon glyphicon-pencil"></i></a>';
		     	 		var deleteField = '<a class="delete" href="/monitor/collectors/delete" data-delete="'+data+'" data-toggle="tooltip" title="'+[[#{ui.messages.table.delete}]]+'" data-original-title="'+[[#{ui.messages.table.delete}]]+'"> \
		         								<i class="glyphicon glyphicon-trash"></i> </a>'; 	
		         		return "<center>"+operationModuleField+"&nbsp;&nbsp;&nbsp;"+updateField+"&nbsp;&nbsp;&nbsp;"+deleteField+"</center>";
	           		}
	           	},
	           	{
		         	"targets": [-2],
		         	"searchable": true,
	    			"orderable": true,
		            "data": "Launch Mode",
		            "render": function (data, type, full, meta) {
		        		return '<center><select class="sel2" id="launchModeFor'+full.id+'"> </select></center>';
		            }	
	           	}
	        ]
	    });
		
	    myTable.on('click','a.delete',function() {
			if(!confirm([[#{ui.messages.table.delete.collectors.confirmation}]])) return false;
			
			var deletedRow = myTable.row( $(this).parents('tr') );
			
			$.ajax({
				type: 'POST',
				url: jQuery(this).attr('href'),
				data: ({
					id: jQuery(this).attr('data-delete'),
					_method: 'DELETE'
				}),
				}).done(function() {
					deletedRow
				        .remove()
				        .draw(false);
			});
				
			return false;
	    });
	    
		$.fn.modal.Constructor.prototype.enforceFocus = function() {};
		
		myTable.on('draw',function() {
	   		jQuery.each(myTable.ajax.json().data, function(key, value){
	   			select2Render(value.launchModeType, value.id);
	   		});
	   	});
		
		function select2Render(data, id){
		
			var collectorLaunchModeMap = [[${collectorLaunchModeMap}]];
			var collectorLaunchModeData=[];
			for(var k in collectorLaunchModeMap){
				collectorLaunchModeData.push({"id":k, "text":collectorLaunchModeMap[k]});
			}       
					            			            			
        	$select = $("#launchModeFor"+id).select2({
				allowClear:false,
				width:'100%', 
				multiple:false,
				language: [[${#locale.language}]],
				data: collectorLaunchModeData
			});
        	
        	var selected = data;
			$select.val(selected);
			$select.trigger('change');
			
			$select.on("select2:select", function (e) {
				$tr = $select.closest("tr");
				$tr.spin();
				$.ajax({
					type: 'POST',
					url: "/monitor/collectors/change_launch_mode",
					data: ({
						id: id,
						launchMode: e.target.value
					}),
				}).done(function(data) {
					if(data.status!=0){
						alert(data.message);
					}
					
					$tr.spin(false);
					
				});
			});
		}
		
		myTable.on('click','a.runmodule',function() {
			if(!confirm([[#{ui.messages.table.run.collectors.confirmation}]])) return false;
						
			$('#collectorstable').spin();
							
			$.ajax({
				type: 'POST',
				url: jQuery(this).attr('href'),
				data: ({
					id: jQuery(this).attr('data-id'),
					operation: 'RUN'
				}),
			}).done(function(data) {
				if(data.status==0){
					myTable.draw();
					$(".sel2").select2("destroy").select2();
				} else {
					alert(data.message);
				}
			}).always(function() {
				$('#collectorstable').spin(false);
			});
			
			
			return false;
	   	});
	   	
		myTable.on('click','a.stopmodule',function() {
			if(!confirm([[#{ui.messages.table.stop.collectors.confirmation}]])) return false;
			
			$('#collectorstable').spin();
			
			$.ajax({
				type: 'POST',
				url: jQuery(this).attr('href'),
				data: ({
					id: jQuery(this).attr('data-id'),
					operation: 'SHUTDOWN'
				}),
			}).done(function(data) {
				if(data.status==0){
					myTable.draw();
					$(".sel2").select2("destroy").select2();
				} else {
					alert(data.message);
				}
			}).always(function() {
				$('#collectorstable').spin(false);
			});
				
			return false;
	   	})
	});
	
	/*]]>*/
	</script>

</body>
</html>