<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="fragment/header :: headerFragmentError" />
		
	<body>
		<div id="wrapper">
			<!-- Header -->
			<div th:replace="fragment/header :: navbar_alt" > </div>
			<br/>
			<div id="page-wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header" th:text="#{errorpage.message.error}">Something went wrong!</h1>
						<p><b>Failed URL:</b> <span th:text="${url}"></span></p>
						<p><b>Exception:</b> <span th:text="${exception}"></span></p>
						<span th:each="stack : ${exception.stackTrace}" th:utext="'&nbsp;&nbsp;&nbsp;&nbsp;'+${stack}+'&lt;/br&gt;'"></span>
					</div>
				</div>
			</div>
		</div>
	
		<div th:replace="fragment/header :: scriptsError" > </div>	
	</body>
</html>