<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/header :: headerFragment" />
<body>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" th:text="#{login.message.entercredential}">Enter credentials</h3>
				</div>
				<div class="panel-body">
					<form role="form" action="/authentication" th:action="@{/authentication}" method="post">
						<fieldset>
							<div class="form-group">
								<input id="username" name="username"
	                   				type="text" required="required" autofocus="autofocus" class="form-control"
	                    			th:placeholder="#{login.field.placeholder.username}"/>
							</div>
							<div class="form-group">
								<input id="password" name="password"
                  					type="password" required="required" class="form-control"
                    				th:placeholder="#{login.field.placeholder.password}"/>
                    		</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="remember-me" th:text="#{login.field.rememberme}" > Remember me </input>
								</label>
							</div>
							<button type="submit" class="btn btn-lg btn-success btn-block" th:text="#{login.button.login}">Login</button>  
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="fragment/header :: scripts" > </div>	
	
</body>
</html>