<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerFragment">
<title>Обелиск</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../assets/my/img/phoneicon.png" th:href="@{/assets/my/img/phoneicon.png}" />
<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" media="screen" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../assets/thymeleaf-demo.css" th:href="@{/assets/thymeleaf-demo.css}" />
<link rel="stylesheet" href="../assets/core.css" media="screen" th:href="@{/assets/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"> </script>
<script src="../assets/bootstrap/js/bootstrap.min.js" th:href="@{/assets/bootstrap/js/bootstrap.min.js}"> </script> 
</head>
<body>
	<div class="container"></div>
	<footer id="center-footer" th:fragment="footer">
		<div id="footerText" class="span12">
			Copyright 2012 <a href="http://doanduyhai.wordpress.com">doanduyhai</a>
			| <a href="https://github.com/doanduyhai/ThymeLeafDemo">Fork
				ThymeLeaf Demo on Github</a> | <a
				href="https://twitter.com/#!/doanduyhai">Follow @doanduyhai on
				Twitter</a>
		</div>
	</footer>
</body>

</html>