body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #FFFFFF;
	padding-top: 60px;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#r_topmenu
{float:left;
	position: relative;
	background:white url(bg.gif) repeat-x left top;
}

#c_topmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#l_topmenu
{
	float:left;
	position: relative;
	background:white url(bg.gif) repeat-x left top;
}

#r_sidebar
{
	float:right;	
}
#l_sidebar
{
	float:left;	
}

#footer
{
	bottom: 0;
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
	weight:100%;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
	background: url(../images/logo_r_j.png) no-repeat left top;
	height: 35px;
}

#mainlogin {

}

#mainmenu
{
	background-image: url(bg1.png);
}


.div-main-menu
{
	width: 100%;
}

.section { 	
	
	margin-left:20px;
}



.div-menu-left
{
	float: left;
}

.div-menu-center
{
	3margin-left: 70px;
}
.div-menu-right
{
	3float: right;
	padding-left: 730px;
	height: 30px;
}

#mainmenu div:first-child {
    margin-left:0px;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline ;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	3color: #6399cd;
	3background-color:#EFF4FA;
	text-decoration:underline;
}

#topmenu
{
	float:right;
}

#topmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#topmenu ul li
{
	display: inline;
}

#topmenu ul li a
{
	color:#6399cd;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#topmenu ul li a:hover, #topmenu ul li.active a
{
	color: #6399cd;
	text-decoration:underline;
}


div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}




.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 1px 0;
	padding: 5px 8px;
	2background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:block;
}

.operations li
{
	padding-bottom: 2px;
	float:left;display:inline;
	
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 16px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
	
}

.operations li a:hover
{
	text-decoration: underline;
}

.tbrow-normal {
	
}

.tbrow-soon-fail {
	background-color:#FFFE8E;
}

.tbrow-fail {
	background-color:#FC6155;
}

.tbrow-good {
	background-color:#BCE774;
}


.reportweb{
    text-align: center;
}
.reportweb table {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
    border-collapse: collapse
}

.reportweb th {
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
}
.reportweb td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
}
