<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header :: headerFragment" />
<!-- <div ddl:bundle-includes="select2,users-form" />  -->

<body>
<div id="wrapper">
	<!-- Header -->
	<div th:replace="fragment/header :: navbar_alt" > </div>
		
	<br/>
	<div id="page-wrapper">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/ldap/customfilter/"><th:block th:text="#{breadcrumbs.ldapcustomfilter}" /></a></li>
				<li class="active"><th:block th:text="#{breadcrumbs.ldapcustomfilter.create}" /></li>
			</ol>
		</div> 
		<div class="row">
			
			<form action="#" th:action="@{/ldap/customfilter/create}" th:object="${ldapCustomFilter}" th:method="POST" method="POST" class="well form">
				<head th:replace="ldap/customfilter/form :: ldapCustomFilterFormContent" />			
			</form>
		</div>
	</div>
</div>

<div th:replace="fragment/header :: scripts" > </div>
<script src="/static/assets/views/ldap/customfilter/js/form.js" th:href="@{/static/assets/views/ldap/customfilter/js/form.js}" > </script>

</body>
</html>