<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header :: headerFragment" />

<body>
	<div id="wrapper">
		<!-- Header -->
		<div th:replace="fragment/header :: navbar_alt" > </div>
		<br/>
		<div id="page-wrapper">
			<div class="row">
				<ol class="breadcrumb">
					<li class="active" th:text="#{breadcrumbs.ldapcustomfilter}">Users</li>
				</ol>
				<div class="col-lg-12">
					<a href="/ldap/customfilter/create" th:text="#{breadcrumbs.ldapcustomfilter.create}">Create</a>
				</div>
				<div class="col-lg-12">
					<h1 class="page-header" th:text="#{ldapcustomfilter.ui.messages.index.title}">Filter management</h1>
					
				</div>
				<div th:replace="ldap/customfilter/search :: ldapcustomfilter_search_form" > </div>
			</div>
			
			 <div class="row">
			 	<table id="ldapcustomfiltertable" class="display" >
			        <thead>
			            <tr>
			                <th th:text="#{ldapcustomfilter.field.sequence}">№ п/п</th>
			                <th th:text="#{ldapcustomfilter.field.name}">Name</th>
			                <th th:text="#{ldapcustomfilter.field.filter}">Filter</th>
			                <th th:text="#{ldapcustomfilter.field.actions}">Actions</th>
			            </tr>
			        </thead>
			 
			        <tfoot>
			            <tr>
			                <th th:text="#{ldapcustomfilter.field.sequence}">№ п/п</th>
			                <th th:text="#{ldapcustomfilter.field.name}">Name</th>
			                <th th:text="#{ldapcustomfilter.field.filter}">Filter</th>
			                <th th:text="#{ldapcustomfilter.field.actions}">Actions</th>
			                
			            </tr>
			        </tfoot>
			    </table>
			</div>
		</div>
	</div>
	<div th:replace="fragment/header :: scripts" > </div>

	<script th:inline="javascript">
	/*<![CDATA[*/
	
	$(document).ready(function() {
		
		jQuery(function($) {
			$('[data-toggle="tooltip"]').tooltip();
		});
		
		function dateFormatter(value) {
			if(value==null){return "";}
	    	return moment(value).format("DD.MM.YYYY HH:mm:ss");
	    }
		
		var myTable = $('#ldapcustomfiltertable').DataTable({
	    	"stateSave": true,
	    	"processing": true,
	        "serverSide": true,
	        "ajax": {
	        	"method": "GET",
	        	"url": "/ldap/customfilter/ajax/serverside/ldapcustomfilter.json",
	        	"data": function ( d ) {
	            	return $.extend( {}, d, {
	                    "extra_search[id]": $('#id').val()!=undefined ? $('#id').val() : "null",
	    
	                });
	            }
	        },
	    	"columns": [
	    	            { "data": "numberLocalized" },
	    	            { "data": "name" },
	    	            { "data": "filter" },
	    	            { "data": "id" }
	    	        ],
	    	
	    	
			"language": {
	        	"url": "/static/assets/data-tables-1.10.6/i18n/"+[[${#locale.language}]]+".lang"
	        },
	        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Все"]],
	        "order": [[ 1, 'asc' ]],
	        "columnDefs": [
				{
	    			"searchable": false,
	    			"orderable": false,
	    			"targets": [0]
				},
	            {
		         	"targets": [-1],
		         	"searchable": false,
	    			"orderable": false,
		            "data": "Actions",
		            "render": function (data, type, full, meta) {
		            	var updateField = '<a class="update" href="/ldap/customfilter/update/'+data+'" data-toggle="tooltip" title="'+[[#{ui.messages.table.edit}]]+'" data-original-title="'+[[#{ui.messages.table.edit}]]+'"> \
		     	 								<i class="glyphicon glyphicon-pencil"></i></a>';
		     	 		var deleteField = '<a class="delete" href="/ldap/customfilter/delete" data-delete="'+data+'" data-toggle="tooltip" title="'+[[#{ui.messages.table.delete}]]+'" data-original-title="'+[[#{ui.messages.table.delete}]]+'"> \
		         								<i class="glyphicon glyphicon-trash"></i> </a>'; 	 
			            return "<center>"+updateField+"&nbsp;&nbsp;&nbsp;"+deleteField+"</center>";
	           		}
	           	}
	        ]
	    });
		
	    myTable.on('click','a.delete',function() {
			if(!confirm([[#{ui.messages.table.delete.user.confirmation}]])) return false;
			
			var deletedRow = myTable.row( $(this).parents('tr') );
			
			$.ajax({
				type: 'POST',
				url: jQuery(this).attr('href'),
				data: ({
					id: jQuery(this).attr('data-delete'),
					_method: 'DELETE'
				}),
				}).done(function() {
					deletedRow
				        .remove()
				        .draw(false);
			});
				
			return false;
	    })
	    
	    /*myTable.on( 'order.dt search.dt', function () {
	    	myTable.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
	            cell.innerHTML = i+1;
	        } );
	    } ).draw();*/
	    
	    $('#ldapcustomfilter-search-form').submit(function(){
	      	myTable.draw();
			return false;
		});
	    
	 
	});
	
	/*]]>*/
	</script>

</body>
</html>