<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

				<div th:fragment="scheduleJobFormContent" id="scheduleJobFormContent" class="row">
			    	<div class="col-lg-12">
			    		<fieldset>
							<legend>
								<h1><th:block th:text="${scheduleJob.isNew()} ? #{schedulejob.title.create} : #{schedulejob.title.update}" /></h1>
								<p class="note"><th:block th:text="#{field.required.start}" />	<span class="required" style="color:red">*</span>	<th:block th:text="#{field.required.end}" /></p>
								
								<!-- Errors alerts field -->					
								<div class="alert alert-block alert-danger" th:if="${#fields.hasErrors('*')}"><p th:text="#{field.validation.error.global.message}" >Please fix the following input errors:</p>
									<ul>
		    							<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
			        						<span th:text="${e.global}? '*' : #{field}+' \''+#{schedulejob.field+'.'+${e.fieldName}} +'\''">The field name</span> 
			        						<span th:text="#{${e.message}}">The error message</span>
		    							</li>
									</ul>
								</div>
							</legend>
							
							<input type="hidden" th:field="*{id}" />
							
							<div th:include="fragment/fielddefinition :: textFormField('name',true, text, 'schedulejob.field')">Name</div>
							<div th:include="fragment/fielddefinition :: textFormField('description',false, text, 'schedulejob.field')">Description</div>
							
							
							
							<div th:include="fragment/fielddefinition :: datetimepickerFormField('startDate',true,'schedulejob.field')">Start Date</div>
							<div th:include="fragment/fielddefinition :: checkboxFormField('repeatFlag', 'schedulejob.field')">LDAP Sync Flag</div>
							<div th:include="fragment/fielddefinition :: datetimepickerFormField('stopDate',false,'schedulejob.field')">Stop Date</div>
							
							
							
							
							
							
							
						
						</fieldset>
						<div class="form-actions">
            				<button class="btn btn-primary" type="submit" th:text="${scheduleJob.isNew()} ? #{schedulejob.form.button.create.submit} : #{schedulejob.form.button.update.submit}">Submit</button>
            				<button class="btn btn-default" type="reset" th:text="#{schedulejob.form.button.reset}">Reset</button>
            			</div>	
					</div>
				</div>	
</html>	